main{
    width: 100%;
    height: 100%;
    padding: 4px 0px;
    border-top : 1px solid #ddd;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main .post{
    width: 295px;
    height: 517px;
    margin: 15px;
    box-shadow: 5px 5px 5px #000;
    background-color: white;
    padding: 10px;
    transition: 0.8s ease;
}

main .post:hover{
    transform: scale(1.1);
}

main .post img{
    width: 100%;
    height: 25%;
}

.post p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 11px;
    margin-top: -5px;
}

.post a{
    text-decoration: none;
    color: #fff;
    background-color: #2d439f;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
    letter-spacing: 1.5px;
    transition: 0.8s ease;
}

.post a:hover{
    background-color: #606060bd; 
    transform: scale(1.1);
}

#post-title{
    font-weight: 400; 
    text-align: center;  
    margin: 6px;
    margin-bottom: 15px;
    background-color: #2d439f;
    color: white;
}

.post .post-detail p{
    font-size: 1.2rem;
    margin-left: 15px;
}

.post .post-detail .main-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
}


.post .ticket-data h2{
    margin-bottom: 10px;
}
#avatar {
    width: 49%;
    height: 30px;
    border-radius: 50%;
  }